body {
  font-size: 20px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

/*Header*/
header {
  width: 100%;
}

.headers{
padding-top: 100px;
padding-bottom: 175px;
padding-right: 75px;
padding-left: 75px;
margin-right: 75px;
margin-left: 75px;
}

#topHeader {
  font-size: 45px;
  position: absolute;
  margin: 0px;
  letter-spacing: 3px;
  color: #7E354D;
}

/*Navigation Menu*/
.menu {
  list-style-type: none;
  padding: 0px;
  float: right;
  overflow: hidden;
  /* font-size: 18px; */
}

.menuLink {
  float: left;
}

.firstMenuLink {
  float: left;
  margin-left: 30px;
}

.navbar {
  display: block;
  padding-left: 40px;
  margin-left: 60px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.navbar:hover {
  color: #7E354D;
}

a.navbar:active {
  color: #7E354D;
}

/*Body*/
.textContainer1{
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 150px;
  margin-left: 75px;
  margin-right: 75px;
  font-weight: 500;
  font-size: 18px;

}

.textContainer2{
  position: absolute;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 1px solid #B8B8B8;
}

.textContainer3{
  position: absolute;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 450px;
  border-bottom: 1px solid #B8B8B8;
}

.textContainer4{
  position: absolute;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 920px;
  /* border-bottom: 1px solid #B8B8B8; */
}

.space {
  height: 1px;
}

.right {
  width: 550px;
  display: inline;
  float: right;
  font-size: 16px;
  font-weight: 400;
}

.experience {
  margin-bottom: 100px;
}

#portfolio1{
  margin-bottom: 0px;
  font-size: 24px;
}

#portfolio2 {
  margin-bottom: 0px;
  font-size: 24px;
  margin-top: 50px;
}

#portfolio3 {
  margin-bottom: 0px;
  font-size: 24px;
  margin-top: 50px;
}

.time {
  color: gray;
}

.clear {
  clear: both;
}

.subtitle {
  font-size: 28px;
  letter-spacing: 2px;
}

.bold {
  font-weight: bold;
}

.backhome {
  cursor: pointer;
}

.links {
  color: #9C536B;
  text-decoration: none;
}

/*Images*/
.pictures {
  width: 350px;
  float: left;
}

.image {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  margin-top: 20px;
  /* box-shadow: 5px 5px 20px #888888; */
  float: left;
  padding: 0px;
  display: inline;
  margin-right: 50px;
  margin-bottom: 100px;
}

.portfoliopic1 {
  width: 435px;
  height: 300px;
  margin: 0 auto;
  float: left;
  padding: 0px;
  display: inline;
  margin-left: 0px;
  margin-bottom: 100px;
}

.portfoliopic2 {
  width: 470px;
  height: 300px;
  margin: 0 auto;
  float: left;
  padding: 0px;
  display: inline;
  margin-top: 50px;
  margin-bottom: 100px;
}

.portfoliopic3 {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  float: left;
  padding: 0px;
  display: inline;
  margin-top: 50px;
  margin-bottom: 100px;
}

/*Buttons*/
.viewbutton {
  background-color: #F5F5F5;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1.5px solid #F5F5F5;
  font-size: 12px;
  color: black;
  letter-spacing: 0.1px;
  cursor: pointer;
  margin-top: 13px;
  margin-bottom: 25px;
}

.viewbutton:hover {
  background: #D1D1D1; /*f7f7f7;*/
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1.5px solid #f7f7f7;
  font-size: 12px;
  color: black;
  letter-spacing: 0.1px;
  text-decoration: none;
  margin-top: 13px;
  margin-bottom: 25px;
}

#viewbutton1 {
  background-color: #F5F5F5;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1.5px solid #F5F5F5;
  font-size: 12px;
  color: black;
  letter-spacing: 0.1px;
  cursor: pointer;
  margin-top: 13px;
  margin-bottom: 25px;
}

#viewbutton1:hover {
  background: #f7f7f7;
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1.5px solid #f7f7f7;
  font-size: 12px;
  color: black;
  letter-spacing: 0.1px;
  text-decoration: none;
  margin-top: 13px;
  margin-bottom: 25px;
}

.socialmedia{
  width: 550px;
  display: inline;
  float: right;
  font-size: 18px;
  margin-bottom: 75px;
  }

.icon {
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

.iconLink{
  text-decoration: none;
}
